.login-container {
  background-color: #edf9f8;
  padding: 0 169px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-right-container {
  width: 440px;
  height: 405px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
}

.login-right-title {
  font-size: 32px;
  color: #2d7672;
  line-height: 40px;
}
