@media screen and (max-width: 1000px) {
  .search-filter-container {
    flex-direction: column !important;

    height: 150px !important;
  }
  .search-input {
    margin-top: 12px;
    height: 52px !important;
    font-size: 20px !important;
    min-width: 200px !important;
  }

  .filter-button-container {
    width: 350px;
    align-items: center;
    margin-left: 0px !important;
  }

  .filter-button {
    font-size: 11px !important;
    height: 50px !important;
    font-weight: 600 !important;
    padding-left: 3px !important;
    padding-right: 3px;
  }
}

.search-filter-container {
  height: 200px;
  background-color: #edf9f8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
  align-items: center;
}

.search-input {
  height: 82px;
  flex: 1;
  min-width: 200px;
  border-radius: 8px;
  border: 2px solid #84c7c4;
  padding: 0 70px;
  font-size: 26px;
}

.filter-button {
  flex: 0.19;
  height: 82px;
  background-color: #c3ecea;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 24px;
  font-weight: 400;
  border-radius: 8px;
}

.filter-button-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  flex: 0.6;
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
}

.input-with-icon-container {
  display: flex;

  flex: 0.4;
}

.input-search-icon {
  position: absolute;
  margin-top: 25px;
  margin-left: 20px;
}

.products-container {
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  justify-content: flex-start; /* Kartları sola hizala */
}

@media screen and (max-width: 600px) {
  .products-container {
    padding: 0 0px !important;
  }
}

.loading-message {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.filter-button:hover {
  background-color: #abe4e2;
}

/* Seçili kategori için stil ayarlamaları */
.filter-button.active {
  border: 5px solid #349590;
}
/* 
.filter-button.active:hover {
  background-color: #67a09f;
} */
