.header-button {
  align-items: center;
  display: flex;
  border-radius: 10px;
  padding: 5px 10px;
}

.header-button:hover {
  background-color: #e0eae9;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.header-button-title {
  color: #349590;
  font-size: 24px;
  padding-left: 10px;
}

.header-right-container {
  display: flex;
  flex-direction: row;
}

.count-basket {
  position: absolute;
  margin-left: 40px;
  background-color: beige;
  height: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 20px;
  margin-bottom: 1.5em;
  border-radius: 10px;
}
