.header-container {
  height: 167px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 148px;
  align-items: center;
}

.header-button {
  align-items: center;
  display: flex;
}

.header-button-title {
  color: #349590;
  font-size: 24px;
  padding-left: 10px;
}

.header-right-container {
  display: flex;
  flex-direction: row;
}
