@media (max-width: 700px) {
  .footer-title {
    width: 300px !important;
    font-size: 17px !important;
  }
  .footer-container {
    padding: 0 30px !important;
    display: flex;
    flex-direction: column;
  }
}

.footer-container {
  padding: 0 169px;
  display: flex;
  flex-direction: column;
  margin-top: 10em;
  margin-bottom: 2em;
}

.footer-title {
  width: 1032px;
  font-size: 18px;
  line-height: 22px;
}

.footer-icon {
  width: 185px;
  height: 66px;
}
